/* content.css */

.app-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.app-title {
  text-align: center;
}

.task-input {
  display: flex;
  margin-bottom: 100px;
}

.task-input input {
  flex: 1;
  margin-right: 10px;
  padding: 10px;
}
/* content1.css */

.task-input input {
  width: 10px; /* Adjust the width value as needed */
}


.add-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.task-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.task-table th, .task-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.task-table th {
  background-color: #f9f9f9;
}

.task-list {
  list-style-type: none;
  padding: 0;
}

.task-item {
  margin-bottom: 10px;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}

.remove-button {
  padding: 5px 10px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  cursor: pointer;
}
