// Define color variables
$primaryColor: #007bff;
$secondaryColor: #0056b3;
$neutralColor: #343a40;
$inputBorderColor: #ced4da;
$buttonBackgroundColor: $primaryColor;
$white:#ffffff;
$gery:#dee2e6;

.reset-password-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.reset-password-container {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  background-color: $white;
  border: 1px solid $gery;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  .reset-password-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: $neutralColor;
  }

  .reset-password-input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid $inputBorderColor;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;

    &:focus {
      outline: none;
      border-color: $primaryColor;
      box-shadow: 0 0 10px rgba(0, 123, 255, 0.3);
    }
  }

  .reset-password-button {
    width: 100%;
    padding: 12px;
    background-color: $buttonBackgroundColor;
    color: $white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: $secondaryColor;
    }
  }
}
